<div class="myTitleModel">
    <button mat-button mat-dialog-close>✖️</button>
    <p class="h3 col-12 mb-3 text-center pb-2">שחזור סיסמה</p>
</div>
<mat-dialog-content class="mat-typography px-0">
    <form class="d-flex h-100 flex-column align-items-center text-center" [formGroup]="forgotPasswordForm">

        <div class="col-lg-8 col-12 px-4 py-3">

            <div class="row" *ngIf="step == 1">

                <mat-form-field appearance="fill" class="col-md-12 col-12">
                    <mat-label>סוג משתמש</mat-label>
                    <mat-select formControlName="signControl">
                        <mat-option value="v">מתנדב</mat-option>
                        <mat-option value="m">אחראי עמותה</mat-option>
                    </mat-select>
                    <mat-error *ngIf="forgotPasswordForm.get('signControl')?.hasError('required')">
                        שדה <strong>חובה</strong>
                    </mat-error>
                </mat-form-field>

                <label class="text-end">הכנס את המייל שאיתו אתה רשום במערכת</label>
                <mat-form-field appearance="fill" class="col-12">
                    <mat-label>דוא"ל</mat-label>
                    <input matInput formControlName="emailControl" [value]="data.email">
                    <mat-error *ngIf="forgotPasswordForm.get('emailControl')?.hasError('required')">
                        דוא"ל <strong>חובה</strong>
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('emailControl')?.hasError('email')">
                        דוא"ל <strong>לא תקין</strong>
                    </mat-error>
                </mat-form-field>

                <div>
                    <button mat-raised-button class="mybutton col-12 w-100" type="button"
                        (click)="checkAndSendCode()">הבא</button>
                </div>
            </div>

            <div class="row text-end" *ngIf="step == 2">

                <label>ברגעים אלו נשלח אליך קוד אימות למייל</label>
                <mat-form-field appearance="fill" class="col-md-12 col-12">
                    <mat-label>קוד</mat-label>
                    <input matInput formControlName="codeControl">
                    <mat-error *ngIf="forgotPasswordForm.get('codeControl')?.hasError('required')">
                        שדה <strong>חובה</strong>
                    </mat-error>
                </mat-form-field>

                <div>
                    <div class="alert alert-warning text-end" role="alert">
                        <i class="bi bi-exclamation-circle"></i>
                        &nbsp;
                        שים לב, קוד זה תקף ל <strong>5 דקות.</strong>
                    </div>
                </div>
                <p class="small text-danger">* בעוד {{minutes}}:{{seconds}} יפוג תוקף הקוד</p>


                <div class="text-start">
                    <p><a class="link-opacity-100 py-0 px-2" type="button" (click)="checkAndSendCode()">שלח קוד פעם
                            נוספת</a></p>
                </div>

                <div>
                    <button mat-raised-button class="mybutton col-12 w-100" type="button"
                        (click)="checkCode()">הבא</button>
                </div>

            </div>

            <div class="row text-end" *ngIf="step == 3">

                <mat-form-field appearance="fill" class="col-12">
                    <mat-label>סיסמה חדשה</mat-label>
                    <input matInput formControlName="passwordControl1" [type]="hide1 ? 'password' : 'text'">
                    <mat-error *ngIf="forgotPasswordForm.get('passwordControl1')?.hasError('required')">
                        סיסמה <strong>חובה</strong>
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('passwordControl1')?.hasError('minlength')">
                        סיסמה חיבת להכיל <strong>8 תוים ומעלה</strong>
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hide1 = !hide1" type="button"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide1">
                        <mat-icon>{{hide1 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="fill" class="col-12">
                    <mat-label>אימות סיסמה</mat-label>
                    <input matInput formControlName="passwordControl2" [type]="hide2 ? 'password' : 'text'">
                    <mat-error *ngIf="forgotPasswordForm.get('passwordControl2')?.hasError('required')">
                        סיסמה <strong>חובה</strong>
                    </mat-error>
                    <mat-error *ngIf="forgotPasswordForm.get('passwordControl2')?.hasError('minlength')">
                        סיסמה חיבת להכיל <strong>8 תוים ומעלה</strong>
                    </mat-error>
                    <button mat-icon-button matSuffix (click)="hide2 = !hide2" type="button"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide2">
                        <mat-icon>{{hide2 ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <div>
                    <button mat-raised-button class="mybutton col-12 w-100" type="button" (click)="finish()">שנה
                        סיסמה</button>
                </div>

            </div>
        </div>
    </form>
</mat-dialog-content>