<div class="myTitleModel">
    <button mat-button mat-dialog-close>✖️</button>
    <p class="h3 col-12 mb-3 text-center pb-2">{{ data.freeActivity.name }}</p>
</div>
<mat-dialog-content class="mat-typography px-0 m-0">
    <div class="d-flex h-100 flex-column align-items-center text-center">

        <div class="col-md-10 col-12">

            <div class="row m-0">

                <div class="col-md-12 col-12">
                    <div><strong>כתובת:</strong> {{ data.freeActivity.address }}</div>
                    <div><strong>דוא"ל:</strong> {{ data.freeActivity.category.category_name }}</div>
                    <div><strong>טלפון:</strong> {{ data.freeActivity.district.district_name }}</div>
                </div>

                <!-- <div class="col-md-6 col-12">
                    <button mat-raised-button class="mybutton col-12 mt-2" (click)="onApproved()">אישור</button>
                </div>
                <div class="col-md-6 col-12">
                    <button mat-raised-button class="mybutton col-12 mt-2" (click)="onCancel()">דחיה</button>
                </div> -->

            </div>
        </div>
    </div>
</mat-dialog-content>