<div class="d-flex h-100 flex-column align-items-center text-center">
    <div class="col-lg-4 col-12 px-4 pb-4">
        <div class="row">
            <div class="d-flex justify-content-center flex-column align-items-center">
                <div class="logo mb-3 mt-5 d-flex justify-content-center align-items-center">
                    <img class="logoImg rounded-circle " src="../../../assets/logo.png">
                </div>
            </div>
            <p class="h4 col-12 mb-3">סטטוסים בעמותות</p>
            <div *ngFor="let association of associations" class="col-md-12 col-12">
                <button mat-raised-button type="button" class="buttonDistrict col-12 w-100 py-5 my-2" (click)="openDialog(association)">
                    <div class="card-body">
                        <p class="card-text"><strong>שם העמותה: </strong>{{association.name}}</p>
                        <p class="card-text"><strong>כתובת העמותה: </strong>{{association.address}}</p>
                    </div>
                </button>
            </div>
            <div><a mat-raised-button class="mybutton col-12 mt-2" routerLink="/">חזרה לתפריט הראשי</a></div>
        </div>
    </div>
</div>
