<div class="myTitleModel">
    <button mat-button mat-dialog-close>✖️</button>
    <p class="h3 col-12 mb-3 text-center pb-2">{{ data.volunteer.full_name }}</p>
</div>
<mat-dialog-content class="mat-typography px-0 m-0">
    <div class="d-flex h-100 flex-column align-items-center text-center">

        <div class="col-md-10 col-12">

            <div class="row m-0">
                <div *ngIf="freeActivities.length > 0 && !spinnerService.isVisible()" class="w-100 h6">
                    <div class="row border text-light py-1 myTitel">
                        <div class="myCol-36">
                            <strong>
                                קטגוריה
                            </strong>
                        </div>
                        <div class="myCol-36">
                            <strong>
                                עמותה
                            </strong>
                        </div>
                        <div class="myCol-20">
                            <strong>
                                סטטוס
                            </strong>
                        </div>
                    </div>
                    <div *ngFor="let row of freeActivities" class="row border">
                        <div class="myCol-36 py-3">
                            {{ row.category.category_name }}
                        </div>
                        <div class="myCol-36 py-3">
                            {{ row.manager.association.name }}
                        </div>
                        <div class="myCol-20 py-3" *ngIf="row.status == 'TAKEN'">
                            <i class="bi bi-stopwatch fs-3 text-primary"></i>
                        </div>
                        <div class="myCol-20 py-3" *ngIf="row.status == 'DONE'">
                            <i class="bi bi-check2-circle fs-3 text-success"></i>
                        </div>
                        <div class="myCol-20 py-3" *ngIf="row.status == 'REQUEST'">
                            <i class="bi bi-patch-question fs-3 text-info"></i>
                        </div>
                    </div>
                </div>
                <div *ngIf="freeActivities.length == 0 && !spinnerService.isVisible()">
                    אין למתנדב נתונים רלונטים
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>