
$red-color: #E53435;

.mybg {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    padding: 50px;
    border-radius: 20px;
}

.mybutton {
    background-color: rgba($color: #E53435, $alpha: 1.0) !important
}

.myTitleModel {
    background-color: rgba($color: $red-color, $alpha: 0.8);
}