
$red-color: #E53435;

.logoImg, .logo  {
    height: 180px;
}


.logo {
    width: 180px;
    border-radius: 50%;
    background-color: rgba($color: #E53435, $alpha: 1.0);
    box-shadow: rgba($color: #E53435, $alpha: 1.0) 0px 0px 20px 20px;    
}

.mybg {
    background-color: rgba($color: #ffffff, $alpha: 0.5);
    padding: 50px;
    border-radius: 20px;
}

.mybutton {
    background-color: rgba($color: #E53435, $alpha: 1.0) !important
}