<form class="d-flex h-100 flex-column align-items-center text-center" [formGroup]="signInForm" (submit)="signIn()">

    <div class="col-lg-4 col-12 px-4 pb-4">

        <div class="row">
            <div class="d-flex justify-content-center flex-column align-items-center">
                <div class="logo mb-3 mt-5 d-flex justify-content-center align-items-center">
                    <img class="logoImg rounded-circle " src="../../../assets/logo.png">
                </div>
            </div>

            <p class="h2 col-12 mb-3">התחברות</p>

            <div class="mb-3">
                <div class="col-12">
                    <button mat-raised-button type="button" class="col-6" [ngClass]="{'buttonAction': signUser == 'v'}"
                        (click)="signUser = 'v'">מתנדב</button>
                    <button mat-raised-button type="button" class="col-6" [ngClass]="{'buttonAction': signUser == 'm'}"
                        (click)="signUser = 'm'">מנהל</button>
                </div>
            </div>

            <mat-form-field  appearance="fill" class="col-12" *ngIf="signUser == 'v'">
                <mat-label>מספר זהות</mat-label>
                <input matInput formControlName="idNumberControl">
                <mat-error *ngIf="signInForm.get('idNumberControl')?.hasError('required')">
                    מספר זהות <strong>חובה</strong>
                </mat-error>
                <mat-error *ngIf="signInForm.get('idNumberControl')?.hasError('badId')">
                    מספר זהות <strong>לא תקין</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-12" *ngIf="signUser == 'm'">
                <mat-label>דוא"ל</mat-label>
                <input matInput formControlName="emailControl">
                <mat-error *ngIf="signInForm.get('emailControl')?.hasError('required')">
                    דוא"ל <strong>חובה</strong>
                </mat-error>
                <mat-error *ngIf="signInForm.get('emailControl')?.hasError('email')">
                    דוא"ל <strong>לא תקין</strong>
                </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="col-12">
                <mat-label>סיסמה</mat-label>
                <input matInput formControlName="passwordControl" [type]="hide ? 'password' : 'text'">
                <mat-error *ngIf="signInForm.get('passwordControl')?.hasError('required')">
                    סיסמה <strong>חובה</strong>
                </mat-error>
                <mat-error *ngIf="signInForm.get('passwordControl')?.hasError('minlength')">
                    סיסמה חייבת להכיל <strong>8 תוים ומעלה</strong>
                </mat-error>
                <button mat-icon-button matSuffix (click)="hide = !hide" type="button"
                    [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <div class="text-start">
                <p><a class="link-opacity-100 py-0 px-2" type="button" (click)="openForgotPasswordForm()">שכחת סיסמה?</a></p>
            </div>

            <div>
                <button mat-raised-button class="mybutton col-12 w-100" type="submit">התחברות</button>
            </div>

            <div>
                <hr class="col-12 my-3" />
            </div>

            <p class="h5 col-12">עוד לא נרשמת?</p>

            <a mat-button class="h4 col-12 pt-2" routerLink="/signUpVolunteer">
                <p class="d-flex align-items-center">להרשמת מתנדב
                    &nbsp;
                    <mat-icon class="icon" fontIcon="arrow_back"></mat-icon>
                </p>
            </a>

            <a mat-button class="h4 col-12 pt-2" routerLink="/signUpManager">
                <p class="d-flex align-items-center">להרשמת אחראי עמותה
                    &nbsp;
                    <mat-icon class="icon" fontIcon="arrow_back"></mat-icon>
                </p>
            </a>

        </div>
    </div>
</form>