<div class="d-flex h-100 flex-column align-items-center text-center">

    <div class="col-lg-4 col-10 px-4 pb-4">

        <div class="row">
            <div class="d-flex justify-content-center flex-column align-items-center">
                <div class="logo mb-3 mt-5 d-flex justify-content-center align-items-center">
                    <img class="logoImg rounded-circle " src="../../../assets/logo.png">
                </div>
            </div>

            <p class="h2 col-12 mb-3">היסטויית משובים שלי</p>

            <div class="card text-center p-0 mt-2" *ngFor="let feedback of feedbacks">
                <div class="card-header">
                    {{feedback.freeActivityData.name}}
                </div>
                <div class="card-body">
                    <p class="card-text"><strong>תאריך המשוב: </strong>{{convertISODateToRegularFormat(feedback.date)}}</p>
                    <p class="card-text"><strong>הערה במשוב: </strong>{{feedback.note}}</p>
                </div>
                <div class="card-footer text-body-secondary">
                    <ngb-rating [max]="5" [(rate)]="feedback.rating" [readonly]="true"></ngb-rating>
                </div>
            </div>
            <div class="h5" *ngIf="feedbacks.length == 0 && !spinnerService.isVisible()">אין לך התנדבויות</div>
        </div>
    </div>
</div>