<div class="d-flex h-100 flex-column align-items-center text-center">

    <div class="col-lg-6 col-12 px-4 pb-4">

        <div class="row">
            <div class="d-flex justify-content-center flex-column align-items-center">
                <div class="logo mb-3 mt-5 d-flex justify-content-center align-items-center">
                    <img class="logoImg rounded-circle " src="../../../assets/logo.png">
                </div>
            </div>

            <p class="h2 col-12 mb-3">משובי מתנדבים:</p>

            <div *ngFor="let feedback of feedbacks" class="col-md-6 col-12">
                <button type="button" class="col-12 my-2 border btn shadow btn-light" (click)="openDialog(feedback)">
                    <div class="row align-items-center my-2 p-2">
                        <div class="col-md-3 col-3" style="text-align: left;">
                            <img class="logoImg rounded-circle" style="width: 50px; height: 50px;"
                                [src]="url + '/images/' + feedback.association.logo_image">
                        </div>
                        <div class="card-body col-md-9 col-9 pe-3 ps-2">
                            <p class="card-text"><strong>שם המתנדב: </strong>{{feedback.volunteer.full_name}}</p>
                            <p class="card-text"><strong>תאריך המשוב:
                                </strong>{{convertISODateToRegularFormat(feedback.date)}}</p>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
</div>