/* You can add global styles to this file, and also import other style files */
@import "~bootstrap-icons/font/bootstrap-icons.css";
// @use '@angular/material' as mat;
@import '@angular/material/theming';

$my-custom-primary: (
    50: #d8f8f5,
    100: #9de9c3,
    200: #40e0d0,
    300: #00d0bb,
    400: #00c2a9,
    500: #00b498,
    600: #00a68a,
    700: #009578,
    800: #008468,
    900: #006649,
    contrast: (
        50: #d8f8f5,
        100: #9de9c3,
        200: #40e0d0,
        300: #00d0bb,
        400: #00c2a9,
        500: #00b498,
        600: #00a68a,
        700: #009578,
        800: #008468,
        900: #006649,
    )
);

@include mat-core();


$my-app-primary: mat-palette($my-custom-primary, 200);
$my-app-accent: mat-palette($mat-pink);
$my-app-warn: mat-palette($mat-red);

// $my-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$my-app-theme: mat-light-theme(
    (
        color: (
            primary: $my-app-primary,
            accent: $my-app-accent,
            warn: $my-app-warn,
        ),
    )
);

@include angular-material-theme($my-app-theme);
// @include mat.all-component-themes($my-theme);



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

$site-color: #40e0d0;

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

.myapp {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(6deg, rgba(0, 0, 0,0.02) 0%, rgba(0, 0, 0,0.02) 39%,transparent 39%, transparent 74%,rgba(117, 117, 117,0.02) 74%, rgba(117, 117, 117,0.02) 100%),linear-gradient(129deg, rgba(222, 222, 222,0.02) 0%, rgba(222, 222, 222,0.02) 65%,transparent 65%, transparent 73%,rgba(83, 83, 83,0.02) 73%, rgba(83, 83, 83,0.02) 100%),linear-gradient(90deg, rgb(255,255,255),rgb(255,255,255));    background-attachment: fixed;
}

.mybg {
    background-color: rgba($color: #ffffff, $alpha: 0.9);
    border-radius: 20px;
}

.mybutton {
    background-color: rgba($color: $site-color, $alpha: 1.0) !important
}

.logoImg, .logo  {
    height: 180px;
    border-top: 1px solid $site-color;
    border-bottom: 1px solid $site-color;
}


.logo {
    width: 180px;
    border-radius: 50%;
    background-color: rgba($color: #fff, $alpha: 0.5);
    box-shadow: rgba($color: #fff, $alpha: 1.0) 0px 0px 20px 20px;
}

.myTitleModel {
    background-color: rgba($color: $site-color, $alpha: 0.8);
}

.myTitel {
    background-color: $site-color; 
}

::-webkit-scrollbar {
    display: none;
}


